/* Write your CSS here */
.teamDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.listOfMatches {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
